@model IEnumerable<A2projeto.Models.Feedings>

@{
    ViewBag.Title = "Add PerformFeeding";
}

<h2>AdicionarParticipantesDoProjeto</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>
    @{
        int? idProjeto = 0;
        foreach (var item in Model)
        {
            foreach (var projeto in item.Projetos)
            {
                idProjeto = projeto.Id;
            }
        }
    }


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.ActionLink("Adicionar", "AdicionarParticipanteAoProjeto", new { id = item.Id, idProjeto = idProjeto })
            </td>
        </tr>
    }

</table>
