@model A2projeto.Models.Animals

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specimen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specimen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locomotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locomotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.characteristics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.characteristics)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.feedings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feedings)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.extinct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extinct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reproduction_characteristcs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reproduction_characteristcs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standards_of_care)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standards_of_care)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.healthRecords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.healthRecords)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
