@model IEnumerable<A2projeto.Models.Animals>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specimen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locomotion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.characteristics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extinct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reproduction_characteristcs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.standards_of_care)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tag_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specimen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locomotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.characteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extinct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reproduction_characteristcs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.standards_of_care)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
